* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #97cbdc;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* TITRE CATEGORIES */

.titleSite {
    color: white;
    text-align: center;
}

/* texte Timothée Fontan haut de page */
h1{
    color: white;
    text-align: center;
    font:
        7em "Bebas Neue",
        sans-serif;
    font-weight: bold;

}

/* texte Gameplay programmer haut de page */
h2 {
    margin-bottom: 40px;
    color: #29ade5;
    font:
        2.5em "montserrat",
        sans-serif;
    letter-spacing: 0.3vw;
    text-transform: uppercase;
}


/* texte Timothée Fontan dans le header à gauche*/
h7 {
    text-align: left;
    margin:0;
    font:
            2em "Bebas Neue",
            sans-serif;
    font-weight: bold;
}

/* texte paragraphe a propos de moi */
h6 {
    font:
            1.5vw "Montserrat",
            sans-serif;
    font-weight: lighter;
    line-height: 1.5;
    color:white;

}

/* Titre nouvelle catégorie */
h3 {
    margin: 60px;
    font:
            3em "montserrat",
            sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color:white;
}

/* Titre dans la catégorie */
h4 {
    margin:20px;
    font:
            3vw "Bebas Neue",
            sans-serif;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

/* Explication type de jeu */
h5 {
    font-size: clamp(16px, 1.8vw, 48px);
    color:lightgrey;
    font-style: italic;
    margin:20px;
    text-align:left;
}

/* NAVIGATION HEADER */

header {
    position:fixed;
    width: 100%;
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    display:flex;
    justify-content: space-between;
    gap:20px;
    align-items: center;
    z-index: 100;
}

.headerText {
    display: flex;
    align-items: center; /* Centre le texte verticalement */
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;

}

nav a {
    margin: 0 15px;
    color: white;
    white-space: nowrap; /* Empêche les retours à la ligne dans les liens */
    text-decoration: none;
    font:
            1.1em "montserrat",
            sans-serif;
    letter-spacing: 0.2vw;
    text-transform: uppercase;


}

nav a:hover {
    color: #29ade5;

}

span {
    color: #29ade5;
}

/*ABOUT ME */

.aboutMe {
    background-color: #2d4468;
    width: 100%;  /* Prend toute la largeur de la fenêtre */
    padding:3vw;
    display:flex;
    margin-bottom: 10px;
    margin-top: 100px;
}

.aboutMe img {
    width: 10%;
    height: auto;
    object-fit: contain; /* Garde les proportions sans couper l'image */
    display: flex;
    align-items: start;
}

.aboutMeText {
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement (de haut en bas) */
    justify-content: center; /* Centre les éléments verticalement */
    align-items: center; /* Centre les éléments horizontalement */
    margin-left: 10vw;
    margin-right: 20vw;

}


.aboutMe h2 {
    color: white;
    font-size: 2vw;
    white-space: nowrap; /* Empêche les retours à la ligne dans les liens */
    padding-left:3%;
}



/* SECTION PROJET EN COURS */

.largeProject{
    display: flex;
    width:70%;
    height:40%;
    background-color:white;
    position: relative;
    cursor: pointer;
    margin-top:2%;
    margin-bottom:2%;
    transition: transform 0.4s ease; /* Transition appliquée à la propriété transform */
}

.largeProject:hover{
    transform: scale(1.02);
    transition-duration: 0.4s;
}

.largeProject p {
        font:
                1.3vw "Montserrat",
                sans-serif;
        font-weight: lighter;
}


.box {
    width: 50%; /* Chaque élément prend 50% de l'espace */
    display: flex;
    background-color:#004581;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    position:relative;

}

.image-box{
    display: flex;
    align-content: center;
    align-items: center;
    height: auto;  /*Hauteur fixe du conteneur*/
    /* overflow: hidden;  Cache tout ce qui dépasse de la boîte */
}

.image-box img{
    width: 100%; /* L'image prend toute la largeur du conteneur */
    height: 100%; /* L'image prend toute la hauteur du conteneur */
    object-fit: contain;
}

.text-box {
    color: white; /* Texte en blanc pour contraste */
    font-size: 1vw; /* Taille du texte */
    text-align: center;
    padding: 5%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.myRoleList ol {
    background-color: lightgrey;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:1vw;
    font-weight:bold;
    font-family: 'Bebas neue bold', sans-serif;
}

.myRoleList p{
    color: white;
    font-weight: bold;
}


/* Encadrement pour chaque section */
.bordered-section {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

/* SECTION PROJET */

.basicProjectTemplate{
    display: flex;
    justify-content: space-between;
    width:70%;
    margin-bottom: 2%;
    margin-top:2%;
}

.basicProjectIn{
    display:flex;
    width:48%;
    height:auto;
    background-color:white;
    cursor: pointer;
    position:relative;
    overflow: hidden; /* Cache tout ce qui dépasse */
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5); /* box shadow */
    transition: transform 0.4s ease; /* Transition appliquée à la propriété transform */
}

.basicProjectIn:hover{
    transform: scale(1.02);
    transition-duration: 0.4s;
}

.basicProjectIn img {
    width: 100%; /* L'image prend toute la largeur du conteneur */
    height: 100%; /* L'image prend toute la hauteur du conteneur */
    object-fit: cover; /* L'image couvre toute la surface sans déformer, en gardant ses proportions */
}

.basicProjectIn .image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Cache tout ce qui dépasse */
    width: 100%;
    height: 100%;
}

/*titre*/
.basicProjectTemplate h4{
    font-size: clamp(16px, 1.7vw, 48px);
    text-align: center;
    margin:unset;
    margin-bottom: 10px;
}


/*sous titre*/
.basicProjectTemplate h5{
    font-size: 1.2vw;
    margin:10px;
}

.basicProjectIn p{
    font:
            1vw "Montserrat",
            sans-serif;
    font-weight: lighter;

}


a {
    display: block;         /* Faire en sorte que le lien occupe toute la largeur du parent */
    text-decoration: none;  /* Enlever le soulignement par défaut du lien */
    color: inherit;         /* Garder la couleur du texte de son parent */
}

a:active {
    text-decoration: none;  /* Enlever le soulignement lors de l'activation ou du focus */
    color: inherit;         /* Garder la couleur inchangée */
}


/* JAM */

.jam{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:70%;
    height:30%;
    background-color:#004581;
    position: relative;
    margin-top:2%;
    margin-bottom:2%;
    padding:2%;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5); /* box shadow */
}

.jam h3{
    color:white;
    font-size: 3vw;
    text-align: center;
    margin:5%;
}

.jam h5{
    text-align: center;
    font-size: 1.3vw;
    margin:unset;
}

.jam a{
    width:15em;
    font-size:1em;
    align-self: center;
    margin:4%;
}


/* CONTACT */

footer {
    background-color: #333;
    width: 100%;
    padding:3vw;
}









.project-section-footer {
    display: flex;
    justify-content: center;
    margin:2vw;
}

.project-button {
    padding: 12px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 8px;
    text-align: center;
    transition: background 0.3s, transform 0.2s;
}

.project-button:hover {
    background-color: #555;
    transform: scale(1.05);
}



table {
    width: auto;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

table td {
    padding: 10px;
    text-align: center;
}

table img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
}

table p {
    margin-top: 10px;
    font-size: 1em;
    color: #555;
}

footer {
    text-align: center;
    margin-top: 40px;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #555;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    position: absolute;
    transition: transform 0.2s;
}


/* PROJECT KEYWORDS */
.projectKeywords{
    display: flex;
    justify-content: center;
    align-items: flex-end; /* aligne les items au bas du conteneur */
    gap:5px;
    white-space: normal; /* permet un retour a la ligne */
}

.keywordLanguage {
    display: inline-block;
    padding: 2px 6px;
    border: 2px solid #3498db; /* Couleur de la bordure */
    border-radius: 5px;
    background-color: #3498db; /* Couleur de fond */
    color: #ffffff; /* Couleur du texte */
    font-weight: bold;
}

.keywordDevice {
    display: inline-block;
    padding: 2px 6px;
    border: 2px solid #4eb548; /* Couleur de la bordure */
    border-radius: 5px;
    background-color: #4EB548FF; /* Couleur de fond */
    color: #ffffff; /* Couleur du texte */
    font-weight: bold;
    text-align: center;

}

.keywordEngine {
    display: inline-block;
    padding: 2px 6px;
    border: 2px solid #6d2ecc; /* Couleur de la bordure */
    border-radius: 5px;
    background-color: #6d2ecc; /* Couleur de fond */
    color: #ffffff; /* Couleur du texte */
    font-weight: bold;
}


@media screen and (max-width:1600px){
    .largeProject{
        width:90%;
    }

    .basicProjectTemplate{
        width:90%;
    }

    .jam{
        width:90%;
    }
}

